
//variables

@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/typography';

//components

@import 'components/navbar';


body{
  background: $color-white-1;
  color: white;
  font-family: $tg-helvetica-light;
}

section{
  border:0;
  padding: 50px 0 50px 0;
  width:100vw;
  overflow: hidden;
}

a{
  color:white;
  text-decoration:none;
  opacity:1;
  transition: all .2s;
}

a:hover{
  color:white;
  text-decoration:none;
  opacity: .6;
}

li{
  list-style: none;
}

.myContainer{
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.btn{
  border-color: white;
  border-radius:4px;
  background-color: transparent;
  color:white;
  transition: all .2s;
}

.btn:hover{
  background-color: white;
  color:black;
}