.section__create_entry form{
  color: $color-gray-1;
  margin-top: 100px;
}

.section__create_entry input, .section__create_entry textarea{
  margin-top: 50px;
}

.section__create_entry textarea{
  width: 60%;
  height: 500px;
}