.home{
  background: url("/img/home/background.jpeg") no-repeat;
  background-size: cover;
  display: flex;
  height: 500px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.home__container{
  text-align: center;
  background: rgba(black, 0.3);
}

.home__container h3{
  font-size: 1.5rem;
}

.home__container h1, .home__container h3{
  margin:30px 0;
}

@media #{$breakpoints-medium} {

.home{
  margin-top: 0;
  height: 800px;
}

.home__container div{
  margin-bottom: 15px;
}
}