.home{
  background: linear-gradient(to right, $color-pink-dark 0%, $color-pink-light 70% , rgba(255,255,255,1)100%), no-repeat left;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.home__container{
  text-align: center;
}

.home__container h3{
  font-size: 1rem;
}

.home__container h1, .home__container h3{
  margin:30px 0;
}