.home{
  background: linear-gradient(to right, $color-pink-dark 0%, $color-pink-light 70% , rgba(255,255,255,1)100%), no-repeat left;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.home__container{
  text-align: center;
}

.home__container h3{
  font-size: 1.5rem;
}

.home__container h1, .home__container h3{
  margin:30px 0;
}

@media #{$breakpoints-medium} {

.home{
  background: url("/img/home/background.jpeg") no-repeat;
  background-size: cover;
  height: 800px;
}

.home__container{
  background: rgba(black, 0.3);
}

.home__container div{
  margin-bottom: 15px;
}
}