.sobre_mi{
  position: relative;
}

.sobre_mi__background{
  display: none;

}
.sobre_mi__container{
  display:flex;
  flex-direction: column;
}

.sobre_mi h1{
  color: $color-gray-1;
}

.sobre_mi p{
  color: $color-gray-1;
  text-align: justify;
}

.sobre_mi p span{
  color: $color-pink-dark;
  text-align: justify;
}
.sobre_mi img{
  width: 100%;
}

@media #{$breakpoints-medium} {

.sobre_mi img{
  //display: none;
}

}

@media #{$breakpoints-large} {

  .sobre_mi{
    padding-top:0;
  }

.sobre_mi__background{
  display: inline;
  height: 100%;
  position: absolute;
  object-fit: cover;
  width: 50vw !important;
  z-index: -5;

}

.sobre_mi__container{
  flex-direction: row;
}


.sobre_mi__left, .sobre_mi__right{
  
  width: 50%;
}

.sobre_mi__right{
  background: $color-white-1;
}

.sobre_mi h1{
  color: $color-white-1;
}

.sobre_mi p{
  margin: 50px;

}

}


@media #{$breakpoints-xlarge} {

}