.sobre_mi h1{
  color: $color-gray-1;
}

.sobre_mi p{
  color: $color-gray-1;
  text-align: justify;
}

.sobre_mi p span{
  color: $color-pink-dark;
  text-align: justify;
}

@media #{$breakpoints-medium} {



}

@media #{$breakpoints-large} {

.sobre_mi{
  background: linear-gradient(to right, rgba(255,255,255,0)0%, rgba(255,255,255,0)30% , rgba(255,255,255,1)52%), url("/img/sobre_mi/background.jpg") no-repeat left;
}

.sobre_mi h1{
  color: $color-white-1;
}

.sobre_mi p{
  margin-left: 50%;
  width: 550px;
}

}


@media #{$breakpoints-xlarge} {

}