.tarifas h1{
  color: $color-gray-1;
  text-align: right;
}

.tarifas__boxes{
  align-items:center;
  display: flex;
  flex-direction:column;
  column-gap: 10px;
  margin: 0 auto;
  margin-top: 150px;
  row-gap: 10px;
}

.tarifas__box{
  margin: auto;
  width: 100%;
}

.tarifas__box{
  text-align:center;
  padding:5px;
}

.tarifas__box img{
  background-size: cover;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}

.tarifas__box h1{
  color:$color-gray-1;
  font-family: $tg-roboto;
  font-size:3rem;
  margin-top: 50px;
  text-align: center;
}

.tarifas__box h2{
  color: $color-gray-1;
  margin-bottom: 20px;
}

@media #{$breakpoints-medium} {
  .tarifas__boxes{
    flex-direction:row;
  }
  .tarifas__box{
  width: calc(100%/3);
}
}

@media #{$breakpoints-large} {

}


@media #{$breakpoints-xlarge} {

}