@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@font-face {
  font-family: "Helvetica Light";
  src: url("/imports/typography/HelveticaNeue-Light.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary: #933ded;
  --dark: #232323;
  --pure: #fff;
  --smoke: whitesmoke;
  --dark-gray: #999;
}

.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
}

.nav-wrapper {
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  padding: 0 100px 0 100px;
  z-index: 10;
}

.brand {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.brand svg {
  height: 40px;
  margin-right: 10px;
}

.brand .icon {
  fill: #555555;
}

.nav-wrapper ul.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-list a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #555555;
  transition: width 0.3s;
}

.dropdown-toggle button {
  border: #555555;
  border-radius: 0.25rem;
  background: #555555;
  padding: 10px 20px;
}

.dropdown ul a {
  color: #FFFFFF !important;
}

.dropdown a::after, .dropdown span::after {
  color: transparent;
  display: inline-block;
  background: none;
  height: 0px;
  margin: auto;
  opacity: 1;
}

.dropdown a:hover::after {
  width: 0 !important;
}

.dropdown-item {
  color: #FFFFFF !important;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-wrapper ul.nav-list li {
  margin-left: 30px;
  padding: 20px 0;
  position: relative;
}

.nav-wrapper ul.nav-list li a {
  color: #555555;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
  color: #555555;
}

.nav-list li .icon {
  height: 23px;
  fill: #555555;
}

main section.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 160px;
}

main section.header h1 {
  font-size: 36px;
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 20px;
}

main section.header h4 {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 20px;
}

nav ul.dropdown-list {
  list-style-type: none;
  display: block;
  background: var(--smoke);
  padding: 6px 16px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.nav-wrapper ul.dropdown-list li {
  margin-left: 0;
  padding: 5px 0;
}

.nav-wrapper ul.dropdown-list li a {
  color: var(--dark);
}

.nav-wrapper ul.nav-list li:hover .dropdown-list {
  opacity: 1;
  pointer-events: auto;
  -webkit-animation: moveUp 0.5s ease-in-out forwards;
          animation: moveUp 0.5s ease-in-out forwards;
}

@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
  }
}
.hamburger {
  display: none;
}

.mobile .hamburger {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer;
}

.mobile .hamburger span {
  background: #555555;
  width: 28px;
  height: 2px;
  margin-bottom: 8px;
}

.mobile ul.nav-list {
  background: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.hamburger, .brand {
  margin-left: 0;
  z-index: 9999;
}

.mobile ul.nav-list.open {
  opacity: 1;
  pointer-events: auto;
}

.mobile .hamburger span {
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.mobile ul.nav-list li a {
  font-size: 20px;
}

.mobile ul.dropdown-list {
  position: relative;
  background: transparent;
  text-align: center;
  height: 0;
  overflow-y: hidden;
  transition: opacity 1s ease-in-out;
  padding-top: 0;
}

.mobile .nav-wrapper {
  padding: 0 20px;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 6px;
}

.mobile ul.nav-list li {
  margin-left: 0;
  text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
  color: var(--dark-gray);
}

.home {
  background: linear-gradient(to right, #D9A5D0 0%, #EEC4E7 70%, rgb(255, 255, 255) 100%), no-repeat left;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.home__container {
  text-align: center;
}

.home__container h3 {
  font-size: 1rem;
}

.home__container h1, .home__container h3 {
  margin: 30px 0;
}

.lo_que_hago {
  position: relative;
}

.lo_que_hago__container {
  background: transparent;
  color: #555555;
}

.lo_que_hago__container p {
  text-align: justify;
  width: 100%;
  margin: 0 auto;
}

.lo_que_hago__container span {
  color: #D9A5D0;
}

.lo_que_hago img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .lo_que_hago {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 60%), url("/img/lo_que_hago/background.jpg") no-repeat right;
  }

  .lo_que_hago__container p {
    text-align: justify;
    margin: 0 0;
    width: 60%;
  }
}
.servicios__container h1 {
  color: #555555;
  text-align: right;
}

.servicios__boxes {
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

.servicios__box__2 {
  background: url("/img/servicios/ansiedad.jpg") no-repeat right;
}

.servicios__box__3 {
  background: url("/img/servicios/fracaso.jpg") no-repeat right;
}

.servicios__box__4 {
  background: url("/img/servicios/depresion.jpg") no-repeat right;
}

.servicios__box__5 {
  background: url("/img/servicios/miedos.jpg") no-repeat right;
}

.servicios__box__6 {
  background: url("/img/servicios/comida.jpg") no-repeat right;
}

.servicios__box {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.servicios__box img {
  width: 100%;
}

.servicios__box h2 {
  font-size: 2rem;
  background: rgba(255, 255, 255, 0);
  color: #555555;
  margin-bottom: 50px;
  margin-top: 50px;
}

.servicios__box p {
  color: #555555;
  padding: 5px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .servicios__boxes {
    flex-direction: row;
  }

  .servicios__box {
    padding: 50px;
    width: 49%;
  }
}
.sobre_mi h1 {
  color: #555555;
}

.sobre_mi p {
  color: #555555;
  text-align: justify;
}

.sobre_mi p span {
  color: #D9A5D0;
  text-align: justify;
}

@media only screen and (min-width: 1025px) {
  .sobre_mi {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 23%, rgb(255, 255, 255) 57%), url("/img/sobre_mi/background.jpg") no-repeat left;
    background-size: cover;
    height: 2000px;
  }

  .sobre_mi h1 {
    color: #FFFFFF;
  }

  .sobre_mi p {
    margin-left: 50%;
    width: 539px;
    font-size: 1.5rem;
  }
}
.tarifas h1 {
  color: #555555;
  text-align: right;
}

.tarifas__boxes {
  align-items: center;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 0 auto;
  margin-top: 150px;
  row-gap: 10px;
}

.tarifas__box {
  margin: auto;
  width: 100%;
}

.tarifas__box {
  text-align: center;
  padding: 5px;
}

.tarifas__box img {
  background-size: cover;
  border-radius: 5px;
  width: 100%;
}

.tarifas__box h1 {
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-top: 50px;
  text-align: center;
}

.tarifas__box h2 {
  color: #555555;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .tarifas__boxes {
    flex-direction: row;
  }

  .tarifas__box {
    width: 33.3333333333%;
  }
}
.section__contacto {
  margin: 0;
  margin-bottom: -100px;
}

.contacto__form {
  display: flex;
  flex-direction: column-reverse;
  padding: 100px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%), url("/img/contacto/background.jpg") no-repeat;
  background-size: cover;
}

.contacto__form__left {
  text-align: center;
  width: 100%;
}

.contacto__form__left form {
  margin: auto;
  width: 100%;
}

.contacto__form form input, .contacto__form form textarea, .contacto__form form button {
  margin-top: 60px;
}

.contacto__form form input, .contacto__form form textarea {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0;
  margin: inherit auto;
  padding: 10px;
  width: 90%;
}

.contacto__form form textarea {
  height: 314px;
}

.contacto__form__right {
  display: flex;
  width: 100%;
  margin-bottom: 40px !important;
}

.contacto__form button {
  border: 0;
}

.contacto__form__right h1 {
  align-self: center;
  color: #FFFFFF;
  font-size: 53px;
  margin: 50px auto;
  text-align: center;
  width: 90%;
}

.contacto__telefono {
  display: flex;
  background: url("/img/contacto/telefono_background-s.png") no-repeat;
  background-size: cover;
  height: 812px;
  margin-top: 100px;
}

.contacto__telefono h1 {
  align-self: center;
  font-size: 53px;
  margin: auto;
  text-align: center;
  width: 90%;
}

.contacto__maps {
  border: 0;
  height: 612px;
  position: relative;
}

.contacto__maps__info {
  position: absolute;
  right: 20px;
  z-index: 5;
}

.contacto__yellow_box {
  background: #D9A5D0;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  width: 319px;
}

.contacto__yellow_box ul {
  margin: 0;
}

.contacto__maps iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .contacto__telefono h1 {
    width: 75%;
  }
}
@media only screen and (min-width: 1025px) {
  .contacto__form {
    display: flex;
    flex-direction: row;
  }

  .contacto__form__right {
    margin-bottom: 0px;
    width: 50%;
  }

  .contacto__form__right h1 {
    margin: auto;
    text-align: center;
  }

  .contacto__form__left {
    font-size: 1rem;
    text-align: left;
    width: 50%;
  }

  .contacto__form__left form {
    width: 400px;
  }

  .contacto__form form input, .contacto__form form textarea {
    width: 314px;
  }

  .contacto__telefono {
    background: url("/img/contacto/telefono_background.png") no-repeat;
    background-size: cover;
  }

  .contacto__telefono h1 {
    margin-left: 150px;
    text-align: left;
    width: 602px;
  }
}
.blog {
  background: linear-gradient(to bottom right, #D9A5D0 0%, #EEC4E7 11%, rgb(255, 255, 255) 28%), no-repeat left;
}

.blog__title {
  color: #555555;
}

.section__blog form {
  margin-top: 100px;
}

.blog__noticias {
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 200px;
  row-gap: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

.blog__box {
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

.blog__box img {
  border-radius: 5px;
  width: 100%;
}

.blog__box h2 {
  font-size: 2rem;
  background: rgba(255, 255, 255, 0);
  color: #555555;
  margin-bottom: 50px;
  margin-top: 50px;
}

.blog__box p {
  color: #555555;
  height: 100px;
  padding: 5px;
  overflow: hidden;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .blog__noticias {
    flex-direction: row;
  }

  .blog__box {
    padding: 50px;
    width: 49%;
  }
}
.login__section form {
  margin-top: 100px;
  min-height: 60vh;
}

.login__section input {
  margin-bottom: 10px;
}

.login__section a {
  color: #555555 !important;
}

.section__create_entry form {
  color: #555555;
  margin-top: 100px;
}

.section__create_entry input, .section__create_entry textarea {
  margin-top: 50px;
}

.section__create_entry textarea {
  width: 60%;
  height: 500px;
}

.section__show_entry {
  color: #555555;
}

.section__show_entry p {
  text-align: justify;
}

.section__edit_entry form {
  color: #555555;
  margin-top: 100px;
}

.recover_password__container {
  color: #555555;
  margin-top: 100px;
}

.footer {
  background: linear-gradient(to top, #D9A5D0 30%, rgb(255, 255, 255) 80%), no-repeat left;
}

.footer__container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  row-gap: 50px;
}

.footer__container ul {
  text-align: center;
}

.footer__container .icon {
  width: 300px;
}

@media only screen and (min-width: 1025px) {
  .footer {
    background: linear-gradient(to right, #D9A5D0 0%, #EEC4E7 50%, rgb(255, 255, 255) 72%), no-repeat left;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__container ul {
    text-align: left;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
  color: white;
  font-family: "Roboto", sans-serif;
}

section {
  border: 0;
  padding: 50px 0 50px 0;
  width: 100vw;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s;
}

a:hover {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

li {
  list-style: none;
}

h1 {
  font-family: "Helvetica Light", sans-serif;
  font-size: 3rem;
  margin-bottom: 50px;
}

p {
  font-size: 1rem;
}

input, textarea {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px #555555 solid;
  padding: 10px;
}

.myContainer {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.btn1 {
  border: 0;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #555555;
  padding: 10px;
  transition: all 0.2s;
}

.btn2 {
  border: 0;
  border-radius: 4px;
  background-color: #D9A5D0;
  color: #FFFFFF;
  padding: 10px;
  transition: all 0.2s;
}

.btn1, .btn2:hover {
  cursor: pointer;
  opacity: 0.6;
}
